description = "Đối tác"
==
<div class="brands-area d-flex align-items-center justify-content-between">
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{{ 'assets/img/core-img/brand1.png'|theme }}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{{ 'assets/img/core-img/brand2.png'|theme }}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{{ 'assets/img/core-img/brand3.png'|theme }}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{{ 'assets/img/core-img/brand4.png'|theme }}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{{ 'assets/img/core-img/brand5.png'|theme }}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{{ 'assets/img/core-img/brand6.png'|theme }}" alt="">
        </div>
    </div>